// Specific CSS for your home-page
.chat-links {
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding: 8px;
  padding-left: 0px;
  margin-bottom: 16px;
}

.chat-links-a {
  color: #ffffff;
  text-decoration: none;
}
.chatroom-container {
  height: 80vh;
}
