// Specific CSS for your home-page
.chat-links {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(151, 215, 255);
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 16px;
}
