.chatrooms-list {
  border-right: 1px solid black;
  color: #FFFFFF;
}

body {
  background-color: #303030;
}

h1 {
  color: #FFFFFF;
}

.new-room-button {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #1f9fe0;
  padding: 8px;
  margin-top: 16px;
  border-radius: 10px;
  font-weight: 500px;
}
.chatroom-links{
  text-decoration: none;
  color: #FFFFFF;
}
