<div class="container"></div>
<h1>Welcome to the Chat App!</h1>
<%= link_to 'Add new chatroom',  new_chatroom_path, :class => 'btn btn-primary'%>
<% Chatroom.all.each do |chatroom| %>
  <h6 class="mt-3 mb-3"><%= link_to chatroom.name, chatroom_path(chatroom.id) %></h6>
<% end %>
