.navbar-lewagon {
  justify-content: space-between;
  background: #303030;
  border-bottom: 1px solid #000000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.greeting {
  color: #FFFFFF;
}
